@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat";
  font-weight: 500;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 98.3vh;
}

header {
  color: white;
  text-align: center;
  padding-top: 7rem;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

div {
  text-align: center;
  padding: 15px;
}

footer {
  color: white;
  text-align: center;
}
